{% load bootstrap4 %}
{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% bootstrap_messages %}

<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Terrarium Control</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{% static "css/switch_button.css" %}" rel="stylesheet">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
        <script src="{% static "js/handle_delete.js" %}"></script>
        <script src="{% static "js/relais-toggle.js" %}"></script>
        <script>
            const dataPrecision = 25;
            function initDataList() {
                var values = [];
                for (var i = 0; i<dataPrecision; i++) {
                    values.push(0.0);
                }
                return values;
            }

            function initTimeList() {
                var values = [];
                for (var i = 0; i < dataPrecision; i++) {
                    values.push("00:00:00");
                }
                return values;
            }

            var barChartData = {
                labels: initTimeList(),
                datasets: [{
                    label: 'Temperature',
                    backgroundColor: ['rgba(255, 165, 0, 0.5)'],
                    yAxisID: "y-axis-1",
                    data: initDataList(),
                }, {
                    label: 'Humidity',
                    backgroundColor: ['rgba(51, 102, 255, 0.5)'],
                    yAxisID: "y-axis-2",
                    data: initDataList(),
                }]
            };

            $(document).ready(function () {
                function updateChart() {
                    $.ajax({
                    type: 'GET',
                    url: 'update_chart',
                    dataType: "json",
                    data: {
                       "update_chart": "True",
                    }
                    }).success(function (data) {
                        myBar.data.labels.splice(0, 1);
                        myBar.data.labels.push(data['time']);
                        myBar.data.datasets[0].data.splice(0, 1);
                        myBar.data.datasets[1].data.splice(0, 1);
                        myBar.data.datasets[0].data.push(parseFloat(data['temperature']));
                        myBar.data.datasets[1].data.push(parseFloat(data['humidity']));
                        myBar.update();
                        $("#temperature").text(data['temperature']);
                        $("#humidity").text(data['humidity']);
                    }).complete(function (data) {
                        setTimeout(function () {
                            updateChart();
                        }, 3000)
                    });
                }

                var ctx = document.getElementById("chart").getContext("2d");
                var myBar = new Chart(ctx, {
                    type: 'line',
                    data: barChartData,
                    options: {
                        responsive: true,
                        events: ["click"],
                        title: {
                            display: true,
                            text: "Temperature, Humidity Live Chart"
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: true
                        },
                        scales: {
                            yAxes: [{
                                type: "linear", // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                                display: true,
                                position: "left",
                                id: "y-axis-1",
                                ticks: {
                                    min: 5,
                                    max: 90,
                                    stepsize: 5,
                                    callback: function (value, index, values) {
                                        return value + "°C";
                                    }
                                }
                            }, {
                                type: "linear", // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                                display: true,
                                position: "right",
                                id: "y-axis-2",
                                ticks: {
                                    min: 5,
                                    max: 90,
                                    stepsize: 0.5,
                                    callback: function (value, index, values) {
                                        return value + "%";
                                    }
                                },
                                gridLines: {
                                    //drawOnChartArea: false
                                    borderDash: [5, 15],
                                }
                            }],
                        }
                    }
                });

                updateChart();
            });
        </script>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">AutoTerra</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#chart">Chart</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#settings">Settings</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#control">Control</a>
                    </li>
                </ul>
            </div>
        </nav>

        {% block chart %}
        {% endblock chart %}

        {% block settings %}
        {% endblock settings %}

        {% block control %}
        {% endblock control %}

    </body>
</html>