{% extends 'main.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block chart %}

<div class="container">
    <h2 class="text-center">Live Chart</h2>
    <div class="chart-wrapper">
        <div class="w-100 canvas-wrapper" style="overflow-x: scroll; position: relative">
            <div class="scroll-container" style="width: 100%; height: 100%; position: relative">
                <canvas id="chart"></canvas>
            </div>
        </div>
        <canvas id="fixed-chart-axis-1" width="0"></canvas>
        <canvas id="fixed-chart-axis-2" width="0"></canvas>
    </div>
    <button id="chart-pause" class="btn btn-info"><i class="material-icons">pause</i></button>
    <h6>Live data:</h6>
    <div class="row">
        <div class="col">Temperature: <span id="temperature"></span>°C</div>
        <div class="col">Humidity: <span id="humidity"></span>%</div>
    </div>
</div>
<br>
{% endblock chart %}

{% block settings %}
<div class="container">
    <h2 class="text-center">Relays and Sensors</h2>
    <h4>Relay Settings</h4>
    <div class="table-responsive-sm">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">GPIO-Pin</th>
                    <th scope="col">Description</th>
                    <th scope="col">On/Off</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for r in relais %}
                    <tr>
                        <th scope="row">{{ r.relais_id }}</th>
                        <td>{{ r.name }}</td>
                        <td>{{ r.GPIO_pin }}</td>
                        <td>{{ r.description }}</td>
                        <td><button type="button" class="btn btn-sm btn-toggle relais-toggle {% if r.state %} active {% endif %}" autocomplete="off" relais-id="{{ r.relais_id }}">
                            <div class="handle"></div>
                        </button></td>
                        <td><button class="btn btn-xs btn-danger btn-remove delete-relais" type="button"><i class="material-icons">remove</i></button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <form role="form" autocomplete="off" method="post">
        <div class="form-row">
            {% csrf_token %}
            <div class="form-group col-md-2">
                <label for="{{ relais_form.relais_id.id_for_label }}">Id:</label>
                {{ relais_form.relais_id }}
            </div>
            <div class="form-group col-md-4">
                <label for="{{ relais_form.name.id_for_label }}">Name:</label>
                {{ relais_form.name }}
            </div>
            <div class="form-group col-md-2">
                <label for="{{ relais_form.GPIO_pin.id_for_label }}">Pin:</label>
                {{ relais_form.GPIO_pin }}
            </div>
            <div class="form-group col-md-4">
                <label for="{{ relais_form.description.id_for_label }}">Description:</label>
                {{ relais_form.description }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-success"><i class="material-icons">add</i></button>
            </div>
        </div>
    </form>
            <br>

        <br>
    <h4>Sensor Settings</h4>
    <div class="table-responsive-sm">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">GPIO-Pin</th>
                    <th scope="col">Description</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for s in sensor %}
                    <tr>
                        <th scope="row">{{ s.sensor_id }}</th>
                        <td>{{ s.type }}</td>
                        <td>{{ s.GPIO_pin }}</td>
                        <td>{{ s.description }}</td>
                        <td><button class="btn btn-danger btn-remove delete-sensor" type="button"><i class="material-icons">remove</i></button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <form role="form" autocomplete="off" method="post">
        <div class="form-row">
            {% csrf_token %}
            <div class="form-group col-md-2">
                <label for="{{ sensor_form.sensor_id.id_for_label }}">Id:</label>
                {{ sensor_form.sensor_id }}
            </div>
            <div class="form-group col-md-2">
                <label for="{{ sensor_form.type.id_for_label }}">Type:</label>
                {{ sensor_form.type }}
            </div>
            <div class="form-group col-md-2">
                <label for="{{ sensor_form.GPIO_pin.id_for_label }}">Pin:</label>
                {{ sensor_form.GPIO_pin }}
            </div>
            <div class="form-group col-md-6">
                <label for="{{ sensor_form.description.id_for_label }}">Description:</label>
                {{ sensor_form.description }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-success"><i class="material-icons">add</i> </button>
            </div>
        </div>
    </form>
            <br>
</div>
    <br>

{% endblock settings %}

{% block control %}

<div class="container">
    <h2 class="text-center">Controls</h2>
    <div class="row d-none d-sm-flex">
        <div class="col-sm"><span class="font-weight-bold">Sensors</span></div>
    </div>
    <div class="row">
        <div class="row d-sm-none"><div class="col ml-3"><span class="font-weight-bold">Sensors</span></div></div>
        <div class="col-sm">
        </div>
    </div>
</div>

{% endblock control %}